*{
    line-height: 1.5;
}
body{
    display: flex;
    flex-direction: column;
    margin: 2px;
}
#container_1{
    background-color: #1F2937;
}
#container_2{
    border-style: solid;
    border-color: #1F2937;
}
#container_2, #container_1, .section_3, .section_4, .section_5{
    padding: 5px;
    min-width: 375px;
}
.top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.external_links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: .1rem;
}
header,
.external_links{
    padding-top: 1rem;
}
.link:visited{
    color: #586f92;
}
.link:hover{
    color: #81868d;
}
.section_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.section_1 h1{
    margin-bottom: 0;
}
.section_1 img{
    width: 22%;
    min-width: 150px;
    height: auto;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882F6;
}
.head{
    font-size: 2rem;
    font-weight: bold;
    color: #F9FAF8;
}
.top, .par, .link {
    font-size: 1rem;
    color: #E5E7EB;
    text-decoration: none;
}
.btn{
    display: flex;
    height: 22px;
    width: 160px;
    background-color:#3882F6;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: #E5E7EB;
    color:#E5E7EB;
    font-weight: bold;
    justify-content: center; 
}
h2{
    color: #E5E7EB;
    text-align: center;
    font-size: 1.5rem;
}
#container_2{
    background-color: #111;
}

.section_2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.accomplishment{
    width: 22%;
    text-align: center;
    color: #eee;
}

.accomplishment img{
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882F6;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.accomplishment p{
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.4;
}

.section_3{
    background-color: #E5E7EB;
}
.section_3 .quote{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 10%;
}
.section_3 .par{
    color: black;
}
.section_4{  
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    background:#3882F6;
    color: #E5E7EB;
    border-radius:5px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-around;
}
h4{
    font-size: 1.5rem;
    width: auto;
    align-self: center;
}

.section_5{
    color: #E5E7EB;
    text-align: center;
    padding: 10px
}
.section_5 p{
    margin-bottom: 0;
}
.section_5 a{
    text-decoration: none;
    border-style: solid;
    border-color: #E5E7EB;
    color: #E5E7EB;
    padding: 2px;
    font-size: 1rem;

}